
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --fontsize: 16pt;
    --marginbottom: 6px;
    --counterheight: 100%;

    --titlebarbg:linear-gradient(#BAEBFF,#30C3FF);
    --titlebarfont:'Dancing Script', cursive;

    --contentcolor:linear-gradient(#8fd694,#4CBD54);
    --contentfont:'Montserrat', sans-serif;

    --tabsize:8;

    --newfilebg:linear-gradient(#90517f,#683b5c);
    --newfilevisibility:hidden;
    --newfiletop:100px;
    --newfileleft:100px;
    --newfilewidth:0px;

    --tooltipbg:linear-gradient(#90517fea,#683b5cea);
    --tooltipfade:0s;
    --tooltipdelay:0s;
    --newvisibility:hidden;
    --savevisibility:hidden;
    --deletevisibility:hidden;
}
 

/*BAEBFF A79AB2 B57BA6 415A77 79CD7F */

body{
    margin: 0;     
    background: #415A77;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: linear-gradient(#7dbc82,#40a046);
}
  
::-webkit-scrollbar-thumb {
    background: #348139;
}

.titlebar{
    letter-spacing: 5px;
    top: 0;
    width: 100%;
    height: 5vh auto;
    position: sticky;
    font-size: 24pt;
    font-family: var(--titlebarfont);
    padding: 5px 5px 5px 15px;
    background: var(--titlebarbg);
    box-sizing: border-box;
    box-shadow: 0 0 6px 4px rgb(0 0 0 / 40%);
}

.content{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.left{
    border: #7B7B7B 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    height: 94vh;
    width: 10vw;
    overflow: auto;
    margin: 20px 0 0 20px;
    padding: 5px 5px 5px 15px;
    background: var(--contentcolor);
    font-size: 18pt;
    font-family: var(--contentfont);
    
}

 .filepath{
    width: 99%;
    line-break: anywhere;
}

/*
.fileselect{
    
} */

.navigator{
    width: 99%;
    margin-bottom: 20px;
}

.uproot:hover{
    background-color: #415A7770;
    user-select: none;
}

.filelist{
    width: 99%;
    line-break: anywhere;   
}

.folder:hover{
    background-color: #415A7770;
    user-select: none;
}

.right{
    position: sticky;
    border: #7B7B7B 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    height: 94vh;
    width: 40vw;
    margin: 20px 0 0 20px;
    padding: 5px 5px 5px 15px;
    background: var(--contentcolor);
    font-size: 18pt;
    font-family: var(--contentfont);
}

.filebar{
    padding: 5px;
    border-bottom: #7B7B7B 1px solid;
}

.currentfile{
    font-size: 24pt;
    overflow: hidden;
}

.timer{
    display: inline;
    font-size: 8pt;
}

.icons{
    display: flex;
    float: right;
}

.icon{
    margin: 0 2px 0 2px;
    cursor: pointer;
}
.icon:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.file{
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
}
.file:focus{
    outline: none;
}

.line{
    display: flex;
}
.line:hover{
    background-color: #415A7770;
}

.counter{
    height: var(--counterheight);
    text-align: end;
    width: 55px;
    padding: 3px 10px 3px 5px;
    font-size: var(--fontsize);
}

.filecontent{
    width: 100%;
    padding: 3px 0 3px 5px;
    margin-left: 5px;
    user-select: none;
    tab-size: var(--tabsize);
    white-space: break-spaces;
    font-size: var(--fontsize);
    border-left: #7B7B7B 1px solid;
    overflow: auto;
}

.footer{
    height: 1.2vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 8pt;
    background-color: #A79AB2;
}

.newfilecontainer{
    background: var(--newfilebg);
    position: absolute;
    top: var(--newfiletop);
    left: var(--newfileleft);
    padding: 4px 8px 4px 8px;
    width: var(--newfilewidth);  
    height: 20px;
    overflow: hidden;
    font-family: var(--contentfont);
    border: 1px solid #41253a;
    border-radius: 20px;
    display: flex;
    visibility: var(--newfilevisibility);
    opacity: 0;
    transition: opacity 2s , width 2s;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
}
.newfilecontainer:focus{
    outline: none;
}

.newfile{
    width: 90%;
    margin: 0 0 0 10px;
}
.newfile:focus{
    outline: none;
}

.tooltip{
    position: absolute;
    z-index: 1;
    background: var(--tooltipbg);
    border: 1px solid #41253a;
    border-radius: 10px;
    font-size: 12pt;
    padding: 3px;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    opacity: 0;
    transition: opacity var(--tooltipfade) ease var(--tooltipdelay);
}

.newtooltip{
    display: var(--newvisibility);
}

.savetooltip{
    display: var(--savevisibility);
}

.deletetooltip{
    display: var(--deletevisibility);
}