
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --fontsize: 16pt;
}


/*BAEBFF A79AB2 B57BA6 415A77 79CD7F */

body{
    margin: 0;     
    background: #415A77;
    overflow: hidden;
}

.titlebar{
    letter-spacing: 5px;
    top: 0;
    width: 100%;
    height: 5vh auto;
    position: sticky;
    font-size: 24pt;
    font-family: 'Dancing Script', cursive;
    padding: 5px 5px 5px 15px;
    background: linear-gradient(#BAEBFF,#30C3FF);
    box-sizing: border-box;
    box-shadow: 0 0 6px 4px rgb(0 0 0 / 40%);
}

.content{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.left{
    border: #7B7B7B 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    height: 94vh;
    width: 20vh;
    overflow: auto;
    margin: 20px 0 0 20px;
    padding: 5px 5px 5px 15px;
    background: linear-gradient(#8fd694,#4CBD54);
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    
}

/* .filepath{
    
}

.fileselect{
    
} */

.navigator{
    width: min-content;
    margin-bottom: 20px;
}

.filelist{
    width: min-content;   
}



.right{
    border: #7B7B7B 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    height: 94vh;
    width: 70vh;
    overflow: auto;
    margin: 20px 0 0 20px;
    padding: 5px 5px 5px 15px;
    background: linear-gradient(#8fd694,#4CBD54);
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
}

.filebar{
    display: flex;
    padding: 5px;
    border-bottom: #7B7B7B 1px solid;
}

.currentfile{
    font-size: 24pt;
}

.timer{
    font-size: 8pt;
    align-self: flex-end;
}

.icons{
    float: right;
    align-self: flex-end;
}

.file{
    display: flex;
}

.counter{
    white-space:pre-line;
    text-align: end;
    width: 45px;
    padding: 10px 10px 0 5px;
    border-right: #7B7B7B 1px solid;
}

.number{
    display: inline;
    font-size: var(--fontsize);
}

.filecontent{
    padding: 10px 0 0 5px;
    white-space: pre;
    margin-left: 5px;
    user-select: none;
    tab-size: 8;
}
.filecontent:focus{
    outline: none;
}

.contentline{
    display: inline-block;
    width: 63vh;
    font-size: var(--fontsize);
}

.footer{
    height: 1vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 8pt;
    background-color: #A79AB2;
}