
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --fontsize: 16pt;
    --marginbottom: 6px;
}


/*BAEBFF A79AB2 B57BA6 415A77 79CD7F */

body{
    margin: 0;     
    background: #415A77;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: linear-gradient(#7dbc82,#40a046);
}
  
::-webkit-scrollbar-thumb {
    background: #348139;
}

.titlebar{
    letter-spacing: 5px;
    top: 0;
    width: 100%;
    height: 5vh auto;
    position: sticky;
    font-size: 24pt;
    font-family: 'Dancing Script', cursive;
    padding: 5px 5px 5px 15px;
    background: linear-gradient(#BAEBFF,#30C3FF);
    box-sizing: border-box;
    box-shadow: 0 0 6px 4px rgb(0 0 0 / 40%);
}

.content{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.left{
    border: #7B7B7B 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    height: 94vh;
    width: 10vw;
    overflow: auto;
    margin: 20px 0 0 20px;
    padding: 5px 5px 5px 15px;
    background: linear-gradient(#8fd694,#4CBD54);
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    
}

 .filepath{
    width: 99%;
    line-break: anywhere;
}

/*
.fileselect{
    
} */

.navigator{
    width: 99%;
    margin-bottom: 20px;
}

.uproot:hover{
    background-color: #415A7770;
    user-select: none;
}

.filelist{
    width: 99%;
    line-break: anywhere;   
}

.folder:hover{
    background-color: #415A7770;
    user-select: none;
}

.right{
    position: sticky;
    border: #7B7B7B 1px solid;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 40%);
    height: 94vh;
    width: 40vw;
    margin: 20px 0 0 20px;
    padding: 5px 5px 5px 15px;
    background: linear-gradient(#8fd694,#4CBD54);
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
}

.filebar{
    padding: 5px;
    border-bottom: #7B7B7B 1px solid;
}

.currentfile{
    font-size: 24pt;
    overflow: hidden;
}

.timer{
    display: inline;
    font-size: 8pt;
}

.icons{
    display: flex;
    float: right;
}

.icon{
    margin: 0 2px 0 2px;
    cursor: pointer;
}

.file{
    display: flex;
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
}

.counter{
    height: 100%;
    text-align: end;
    width: 45px;
    padding: 10px 10px 0 5px;
    border-right: #7B7B7B 1px solid;
    font-size: var(--fontsize);
}

.number{
    margin-bottom: var(--marginbottom);
}
 
.filecontent{
    width: 100%;
    padding: 10px 0 0 5px;
    margin-left: 5px;
    user-select: none;
    tab-size: 8;
    white-space: break-spaces;
    font-size: var(--fontsize);
}
.filecontent:focus{
    outline: none;
}

.contentline{
    width: 98%;
    margin-bottom: var(--marginbottom);
}
.contentline:hover{
    background-color: #415A7770;
}

.footer{
    height: 1.2vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 8pt;
    background-color: #A79AB2;
}